@import "variables";

.test {
	@include desktop {
		display: flex;
		justify-content: space-around;
	}
	text-align: center;
	&__doctors {
		@include desktop {
			width: 40%;
		}
	}
	&__article {
		@include desktop {
			width: 42%;
		}
	}
	h3 {
		font-weight: 700;
		color: $primary;
		padding: 1em 2em;
		line-height: 1.5em;
	}
	p {
		padding: 1em 2em;
		color: $neutral2;
		font-size: 0.9em;
		line-height: 1.5em;
	}
	button {
		@include btn;
	}
}

.symptomes {
	text-align: center;
	h3 {
		color: $primary;
		padding: 1em 6em;
	}
	&__images {
		img {
			width: 50px;
			height: 70px;
		}

		.fievre {
			width: 35px;
			height: 90px;
		}

		&__row {
			display: flex;
			justify-content: space-around;
			margin: 1.5em 0;
			@include desktop {
				justify-content: center;
				padding: 1em 8em;
			}
			div {
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: center;
				align-items: center;
				width: 40%;
				span {
					padding: 1.5em 2em;
					font-weight: 600;
				}
			}
		}
	}
}

